@import (reference) '../../../styles/variables.less';

.price {
  font-size: @font-size-lg;
  font-weight: @font-weight-bold;
  color: @color-text;
}

.primary {
  color: @color-primary;
}

.display {
  font-size: @font-size-2xl;
  letter-spacing: -0.02em;
}
